.apple-heading {
  color: red;
  font-weight: 800 !important;
  display: flex;
}
.icon-button {
  background-color: white;
}
.makeStyles-root-1 header {
  background-color: #ffff;
}
.MuiDrawer-paperAnchorDockedLeft {
  background-color: rgb(14, 13, 15) !important;
  color: #ffff !important;
  font-weight: 800 !important;
}
.text-tag {
  color: rgb(236, 39, 39);
}
.text-name {
  display: inline !important;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 500;
}
.user {
  color: black;
  display: flex;
  align-items: center;
  margin-left: 1300px;
}
.user-name {
  padding-left: 20px;
}
